VehicleFuelUsage/force-app/main/default/flows/Vehicle_Asset_Energy_Use.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>FuelConsumptionUnitPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FuelConsumptionUnit</picklistField>
        <picklistObject>VehicleAssetEnrgyUse</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FuelEfficiencyUnitPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FuelEfficiencyUnit</picklistField>
        <picklistObject>VehicleAssetEnrgyUse</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FuelTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FuelType</picklistField>
        <picklistObject>VehicleAssetEnrgyUse</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Vehicle Asset Energy Use {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Asset Energy Use</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEUR</name>
        <label>CreateEUR</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FuelConsumption</field>
            <value>
                <elementReference>Fuel_Consumption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FuelConsumptionUnit</field>
            <value>
                <elementReference>Fuel_Consumption_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FuelEfficiency</field>
            <value>
                <elementReference>Fuel_Efficiency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FuelEfficiencyUnit</field>
            <value>
                <elementReference>Fuel_Efficiency_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FuelType</field>
            <value>
                <elementReference>Fuel_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherEmssnFctrId</field>
            <value>
                <elementReference>OtherEmissionsFactors.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleAssetEmssnSrcId</field>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputAssignments>
        <object>VehicleAssetEnrgyUse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FuelConsumtion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VehicleAssetEmssnSrc</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FuelConsumtion</name>
        <label>FuelConsumtion</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateEUR</targetReference>
        </connector>
        <fields>
            <name>FuelConsumtion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FuelConsumtion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OtherEmissionsFactors</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Emissions Factors</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VehicleAssetEnrgyUse</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OtherEmssnFctrId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Fuel_Type</name>
                    <choiceReferences>FuelTypePL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fuel Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fuel_Consumption</name>
                    <dataType>Number</dataType>
                    <fieldText>Fuel Consumption</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Fuel_Consumption_Unit</name>
                    <choiceReferences>FuelConsumptionUnitPL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fuel Consumption Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FuelConsumtion_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fuel_Efficiency</name>
                    <dataType>Number</dataType>
                    <fieldText>Fuel Efficiency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Fuel_Efficiency_Unit</name>
                    <choiceReferences>FuelEfficiencyUnitPL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>MILES_PER_GALLON</stringValue>
                    </defaultValue>
                    <fieldText>Fuel Efficiency Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleAssetEnrgyUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleAssetEnrgyUse</objectType>
    </variables>
</Flow>
